@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-buttons {
  @apply cursor-pointer p-2 hover:bg-background rounded-full;
}

.cta-button {
  @apply bg-black rounded-md text-white w-32 h-[38px];
}
